.container {
  position: relative;
  height: 100px;
  background-color: turquoise;
}

.one {
  position: relative;
  z-index: 2;
  padding: 10px;
  width: 200px;
  background-color: thistle;
}

.two {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 40px;
  width: 200px;
  padding: 20px;
  background-color: violet;
}
